{% extends 'base.html' %}
{% block title %}{{ object.user }} profile at {{ block.super }}{% endblock title %}
{% block content %}
<h1>{{ object.user }}</h1>
<img src="{{ object.photo.url }}" class="user-profile-img">
{% if object.user.first_name or object.user.last_name %}
    <h3>{{ object.user.first_name }} {{ object.user.last_name }}</h3>
{% endif %}
{% if object.user == request.user %}
<p>email: {{ object.user.email }}</p>
<p><a href="{% url 'profile_update' %}">update your profile</a></p>
{% endif %}
{% endblock content %}
