body {
    background-color: #000;
    color: #eee;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 52px calc(100vh - 102px) 50px;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    font-family: 'Roboto';
}
a {
    color: #0cf;
    text-decoration: none;
    background-color: #fff3;
    border-bottom: 1px solid #069;
}
header {
    grid-area: header;
    background-color: #123;
    border-bottom: 2px solid #346;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}
main {
    grid-area: main;
    overflow: auto;
    width: 100%;
}
footer {
    grid-area: footer;
    width: 100%;
    background-color: #123;
    border-top: 2px solid #346;
}
header .container, main .container, footer .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
main .container, footer.container {
    padding: 0 16px;
}
header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-inline-start: 0;
    margin: 8px 0;
    gap: 16px;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 8px 16px;
    display: block;
    border-radius: 8px;
}
.logo {
    color: #fff;
    font-size: 125%;
    font-weight: 600;
    padding: 4px 16px;
}
.paginator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.paginator a {
    border: 1px solid #345;
    border-radius: 8px;
    padding: 2px 4px;
}

.paginator .current {
    padding: 2px 4px;
    text-align: center;
}

.flex-grow-one {
    flex-grow: 1;
}

form.search-form {
    margin-bottom: 1rem;
}
